h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

#app {
  /* height: 10vh; */
  background-color: background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #1d1d1d;
}

#content {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}
  /* Custom CSS to prevent the content
  to go underneath the navbar */

  body {
    padding-top: 70px;
margin:0;
    font-family: "Montserrat";
    text-align: center;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  /* background: linear-gradient(white, white, gray); */
  }

.navbar{
  position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }


  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
text-align: right;
  margin-right: 1rem;
  margin-left: 1rem;
  }
  .navbar a {
  float: left;
  display: block;
  /* color: #f2f2f2; */
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}


  h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #000000;
    font-weight: lighter;
      /* padding-left: 47px; */
  }

  h4 {
    color: #000000;
    /* padding-left: 47px; */
    padding-top: 50px;
  }

  p {
  font-family: "Sacramento";
    color: dark;
    /* padding-left: 47px; */

  }
  .big-heading {
    font-family: "Sacramento";
    font-style: oblique;
    font-size: 5.6rem;
    line-height: 1.5;
    padding-top: 70px;

  }

  .pro {
    text-decoration: underline;
  text-decoration-color: #000000;

  }

  .title-image {
    width: 100 %;
    transform: none;
    position: static;
    right: 30%;
    border-radius: 25%;
    z-index: -1;
  }
  .white-section {
    background: linear-gradient( white);
    padding-top: 50px;

  }
  #footer{
    text-align: center;
    font-size: 1.3rem;
    background: linear-gradient( white);
    padding-top: 280px;

  }


  .social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
