

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}
  /* Custom CSS to prevent the content
  to go underneath the navbar */

  body {
    padding-top: 70px;
margin:0;
    font-family: "Montserrat";
    text-align: center;
    background: #C9CCD3;

 background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: lighten;
    /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  /* background: linear-gradient(white, white, gray); */
  }

  .navbar{

    position: fixed;
align-items: center;
    width:auto;
justify-content: space-between;

    text-align: center; /* <--- */
  }
  .navbar-nav {
    padding: 18px 18px;
    text-align: center;
  }
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
text-align: right;
  }
  .navbar a {
  float: left;
  display: block;
  /* color: #f2f2f2; */
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}
  h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #000000;
    font-weight: lighter;
      /* padding-left: 47px; */
  }

  h4 {
    color: #000000;
    /* padding-left: 47px; */
    padding-top: 50px;
  }

  p {
  font-family: "Sacramento";
    color: dark;
    /* padding-left: 47px; */

  }
  .big-heading {
    font-family: "Sacramento";
    font-style: oblique;
    font-size: 5.6rem;
    line-height: 1.5;
    padding-top: 70px;

  }

  .pro {
    text-decoration: underline;
  text-decoration-color: #000000;

  }

  .title-image {
    width: 70 %;
    transform: none;
    position: static;
    right: 30%;
    border-radius: 25%;
    z-index: -1;
  }
  .white-section {
    background: linear-gradient( white);
    padding-top: 50px;

  }
  #footer{
    text-align: center;
    font-size: 1.3rem;
    background: linear-gradient( white);
    padding-top: 280px;

  }


  .social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
