* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}
  /* Custom CSS to prevent the content
  to go underneath the navbar */

  body {
    padding-top: 70px;
    font-family: "Montserrat";
    text-align: center;
  background: linear-gradient(gray, white);
  }
  .navbar-nav {
    padding: 0px 18px;
    text-align: center;
  }
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
text-align: center;
  }
  h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #000000;
    font-weight: lighter;
      padding-left: 47px;
  }

  h4 {
    color: #000000;
    padding-left: 47px;
    padding-top: 50px;
  }

  p {
  font-family: "Sacramento";
    color: dark;
    padding-left: 47px;

  }
  .big-heading {
    font-family: "Sacramento";
    font-style: oblique;
    font-size: 5.6rem;
    line-height: 1.5;
    padding-top: 70px;

  }

  .pro {
    text-decoration: underline;
  text-decoration-color: #000000;

  }

  .title-image {
    width: 100 %;
    transform: none;
    position: static;
    right: 30%;
    border-radius: 25%;
    z-index: -1;
  }
  .white-section {
    background: linear-gradient( white);
    padding-top: 50px;
  }
  #footer{
    text-align: center;
    font-size: 1.3rem;
    background: linear-gradient( white);

  }


  .social-icon {
    margin: 20px 10px;
  }

  @media (max-width: 100%) {

    #title {
      text-align: center;
    }

    .title-image {
      position: static;
      transform: rotate(0);
    }
  }
